.WishListHeader {
  border-bottom: 2px solid var(--black-100);
  column-gap: 20px;
  display: grid;
  font-weight: 700;
  font-size: 14px;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 10px;
  text-transform: uppercase;
}

.WishListHeader__cell {
  padding: 20px 0 10px;
}
