.TextArea {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.TextArea__label {
  display: block;
  margin-bottom: 8px;
}

.TextArea__label--optional {
  font-size: 12px;
  font-style: italic;
  margin-left: 8px;
}

.TextArea__input {
  padding: 8px;
}
